<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="MemberVO"
			type="com.rail.reserve.vo.MemberVO" />
		<typeAlias alias="ReserveVO"
			type="com.rail.reserve.vo.ReserveVO" />
		<typeAlias alias="TrainVO"
			type="com.rail.reserve.vo.TrainVO" />
		<typeAlias alias="ScheduleVO"
			type="com.rail.reserve.vo.ScheduleVO" />

	</typeAliases>

</configuration>